import pandas as pd

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Soda"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3          Soda
dtype: object

In [4]:
lottery = [4, 5, 8, 7, 77, 66]

pd.Series(lottery)

0     4
1     5
2     8
3     7
4    77
5    66
dtype: int64

In [5]:
football = {
    "red" : "Manchester United",
    "white" : "Real Madrid",
    "blue" : "Chelsea",
    "yellow" : "Dortmund",
}

pd.Series(football)

red       Manchester United
white           Real Madrid
blue                Chelsea
yellow             Dortmund
dtype: object

### Intro to Methods

In [1]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [3]:
prices.sum()

8.8

In [4]:
prices.product()

18.095480000000006

In [5]:
prices.mean()

2.9333333333333336

In [6]:
prices.median()

2.99

#### intro to attribute

In [8]:
import pandas as pd

adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [9]:
adjectives.size

5

In [10]:
adjectives.is_unique

True

In [11]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [12]:
type(adjectives.values)

numpy.ndarray

In [13]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
adjectives.dtype

dtype('O')

In [1]:
## Parameter and Arguments

## Parameter and Arguments

In [3]:
import pandas as pd

fruits = ["banana", "grape", "Orange", "Lime", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)

Monday       banana
Tuesday       grape
Wednesday    Orange
Thursday       Lime
Friday         Plum
dtype: object

# Import Series with the pd.read_csv Function

In [11]:
import pandas as pd

pokemon = pd.read_csv('./pandas/pokemon.csv', usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [14]:
stock = pd.read_csv('./pandas/google_stock_price.csv', usecols=["Stock Price"]).squeeze()
stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# The head and tail Methods on a Series

import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [7]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [8]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# Passing Series to Python's Built-in Function

In [9]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [10]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [30]:
len(pokemon)
type(pokemon)
dir(pokemon)
sorted(pokemon)
list(pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

# The sort_values Method

In [31]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [33]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

# The sort_index Method

In [50]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head().sort_index(ascending=False)

Pokemon
Venusaur      Grass
Ivysaur       Grass
Charmeleon     Fire
Charmander     Fire
Bulbasaur     Grass
Name: Type, dtype: object

# Check for Inclusion with Python's in Keyword

In [5]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=['Pokemon']).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [10]:
"Bulbasaur" in pokemon

False

In [11]:
"Bulbasaur" in pokemon.values

True

# Extract Series Values by Index Position

In [12]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [20]:
pokemon[210]

'Qwilfish'

In [17]:
pokemon[[100, 200, 300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

In [19]:
pokemon[10:18]

10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
Name: Pokemon, dtype: object

In [22]:
pokemon[-10 : -8]

711    Bergmite
712     Avalugg
Name: Pokemon, dtype: object

# Extract Series Value by Index Label

In [24]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [25]:
pokemon[0]

'Grass'

In [26]:
pokemon["Bulbasaur"]

'Grass'

In [28]:
pokemon[["Bulbasaur", "Charizard", "Meowth"]]

Pokemon
Bulbasaur     Grass
Charizard      Fire
Meowth       Normal
Name: Type, dtype: object