import pandas as pd

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Soda"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3          Soda
dtype: object

In [4]:
lottery = [4, 5, 8, 7, 77, 66]

pd.Series(lottery)

0     4
1     5
2     8
3     7
4    77
5    66
dtype: int64

In [5]:
football = {
    "red" : "Manchester United",
    "white" : "Real Madrid",
    "blue" : "Chelsea",
    "yellow" : "Dortmund",
}

pd.Series(football)

red       Manchester United
white           Real Madrid
blue                Chelsea
yellow             Dortmund
dtype: object

### Intro to Methods

In [1]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [3]:
prices.sum()

8.8

In [4]:
prices.product()

18.095480000000006

In [5]:
prices.mean()

2.9333333333333336

In [6]:
prices.median()

2.99

#### intro to attribute

In [8]:
import pandas as pd

adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [9]:
adjectives.size

5

In [10]:
adjectives.is_unique

True

In [11]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [12]:
type(adjectives.values)

numpy.ndarray

In [13]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
adjectives.dtype

dtype('O')

In [1]:
## Parameter and Arguments

## Parameter and Arguments

In [3]:
import pandas as pd

fruits = ["banana", "grape", "Orange", "Lime", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)

Monday       banana
Tuesday       grape
Wednesday    Orange
Thursday       Lime
Friday         Plum
dtype: object

# Import Series with the pd.read_csv Function

In [11]:
import pandas as pd

pokemon = pd.read_csv('./pandas/pokemon.csv', usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [14]:
stock = pd.read_csv('./pandas/google_stock_price.csv', usecols=["Stock Price"]).squeeze()
stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64