import pandas as pd

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Soda"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3          Soda
dtype: object

In [4]:
lottery = [4, 5, 8, 7, 77, 66]

pd.Series(lottery)

0     4
1     5
2     8
3     7
4    77
5    66
dtype: int64

In [5]:
football = {
    "red" : "Manchester United",
    "white" : "Real Madrid",
    "blue" : "Chelsea",
    "yellow" : "Dortmund",
}

pd.Series(football)

red       Manchester United
white           Real Madrid
blue                Chelsea
yellow             Dortmund
dtype: object

### Intro to Methods

In [1]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [3]:
prices.sum()

8.8

In [4]:
prices.product()

18.095480000000006

In [5]:
prices.mean()

2.9333333333333336

In [6]:
prices.median()

2.99

#### intro to attribute

In [8]:
import pandas as pd

adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [9]:
adjectives.size

5

In [10]:
adjectives.is_unique

True

In [11]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [12]:
type(adjectives.values)

numpy.ndarray

In [13]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
adjectives.dtype

dtype('O')

In [1]:
## Parameter and Arguments

## Parameter and Arguments

In [3]:
import pandas as pd

fruits = ["banana", "grape", "Orange", "Lime", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)

Monday       banana
Tuesday       grape
Wednesday    Orange
Thursday       Lime
Friday         Plum
dtype: object

# Import Series with the pd.read_csv Function

In [11]:
import pandas as pd

pokemon = pd.read_csv('./pandas/pokemon.csv', usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [14]:
stock = pd.read_csv('./pandas/google_stock_price.csv', usecols=["Stock Price"]).squeeze()
stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# The head and tail Methods on a Series

import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [7]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [8]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# Passing Series to Python's Built-in Function

In [9]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [10]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [30]:
len(pokemon)
type(pokemon)
dir(pokemon)
sorted(pokemon)
list(pokemon)
dict(pokemon)
max(pokemon)
min(pokemon)

'Abomasnow'

# The sort_values Method

In [31]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [33]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

# The sort_index Method

In [50]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head().sort_index(ascending=False)

Pokemon
Venusaur      Grass
Ivysaur       Grass
Charmeleon     Fire
Charmander     Fire
Bulbasaur     Grass
Name: Type, dtype: object

# Check for Inclusion with Python's in Keyword

In [5]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=['Pokemon']).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [10]:
"Bulbasaur" in pokemon

False

In [11]:
"Bulbasaur" in pokemon.values

True

# Extract Series Values by Index Position

In [12]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [20]:
pokemon[210]

'Qwilfish'

In [17]:
pokemon[[100, 200, 300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

In [19]:
pokemon[10:18]

10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
Name: Pokemon, dtype: object

In [22]:
pokemon[-10 : -8]

711    Bergmite
712     Avalugg
Name: Pokemon, dtype: object

# Extract Series Value by Index Label

In [24]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [25]:
pokemon[0]

'Grass'

In [26]:
pokemon["Bulbasaur"]

'Grass'

In [28]:
pokemon[["Bulbasaur", "Charizard", "Meowth"]]

Pokemon
Bulbasaur     Grass
Charizard      Fire
Meowth       Normal
Name: Type, dtype: object

# The get method

In [1]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col="Pokemon").squeeze()

In [2]:
pokemon.get(0)

'Grass'

In [3]:
pokemon.get("Bulbasaur")

'Grass'

In [4]:
pokemon.get([4, 10])

Pokemon
Charmeleon    Fire
Metapod        Bug
Name: Type, dtype: object

In [5]:
pokemon.get(["Meowth", "Moltres"])

Pokemon
Meowth     Normal
Moltres      Fire
Name: Type, dtype: object

In [6]:
print(pokemon.get("Digimon"))

None

In [7]:
pokemon.get("Digimon", "Not a Pokemon")

'Not a Pokemon'

In [8]:
pokemon.get(["Mewth", "Digimon"])

# Overwrite a Series Value

In [17]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"]).squeeze()
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
pokemon[0]

'Bulbasaur'

In [13]:
pokemon[0] = "Borisaur"

In [14]:
pokemon[0]

'Borisaur'

In [15]:
pokemon[[1, 2, 4]] = ["Ivy", "Venu", "Charm"]

In [16]:
pokemon

0        Borisaur
1             Ivy
2            Venu
3      Charmander
4           Charm
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

# The Copy Method

In [13]:
import pandas as pd

pokemon_df = pd.read_csv("./pandas/pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [18]:
pokemon_series[0] = "changed"
pokemon_series.head(3)

0     changed
1     Ivysaur
2    Venusaur
Name: Pokemon, dtype: object

In [17]:
pokemon_df.head(3)

     Pokemon
0  Bulbasaur
1    Ivysaur
2   Venusaur

# The inplace Parameter

In [33]:
import pandas as pd

google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze().copy()

In [34]:
google.sort_values(inplace=True)
# google = google.sort_values() 와 같다
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Math Methods on Series Objects

In [35]:
import pandas as pd

google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [36]:
google.count()

3012

In [37]:
google.sum()

1006942.0

In [38]:
google.mean()

334.3100929614874

In [39]:
google.median()

283.315

In [40]:
google.product()

inf

In [41]:
google.std()
# 기본 편차

173.18720477113106

In [42]:
google.min()

49.95

In [43]:
google.max()

782.22

In [44]:
google.mode()
# 제일 많이 나오는 숫자

0    291.21
Name: Stock Price, dtype: float64

In [45]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# Broadcasting

In [46]:
import pandas as pd

google = pd.read_csv("./pandas/google_stock_price.csv", usecols=["Stock Price"]).squeeze()
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [47]:
google + 10

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

# The value_counts Method

In [48]:
import pandas as pd

pokemon = pd.read_csv("./pandas/pokemon.csv", index_col = "Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [58]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64